/*html {*/
/*  font-size: 14px;*/
/*}*/

/*@media (min-width: 768px) {*/
/*  html {*/
/*    font-size: 16px;*/
/*  }*/
/*}*/

/*html {*/
/*  position: relative;*/
/*  min-height: 100%;*/
/*}*/

/*body {*/
/*  margin-bottom: 60px;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  float: left;
  width: 35%;

  border-bottom: 1px solid #ffffff;
  border-top:1px solid #ffffff;

  max-width: 320px;
  max-height: 600px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h1 {
  font-size: 40px;
  color: #f1356d;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-preview h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-preview h3 {
  font-size: 13px;
  color: #000000;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-preview a{
  text-decoration: none;
}
.blog-preview button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.ratings-box {


  float: left;
  padding: 10px;
  height: 600px;
  border-bottom: 1px solid #d62c2c;
  border-top:1px solid #d62c2c;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  margin: auto;
  width: 50%;


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  font-size: 20px;
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  resize: none;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.single-review-block {
  position: center;
  align-self: center;
  width: 80%;
  float: right;
  height: 600px;
  white-space: pre-wrap;
  word-break: break-word;
  min-width: 100px;
}

.single-review {
  text-align: left;
  display: block;
}

.single-review h1 {
  font-size: 40px;
  color: #f1356d;
}

.single-review h2 {
  font-size: 20px;
  color: #000000;
}

.single-review h3 {
  font-size: 10px;
  color: #4d4d4d;
}

.single-review button {
  margin: 4px;
  width: 100px;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.submit input {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

