@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.not-found {
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-decoration: none;
}

.not-found h2{
  color: #f1356d;
}

.not-found a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.not-found button {
  background: #f1356d;
  color: rgb(255, 255, 255);
  border: 0;
  padding: 8px;
  margin: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.take-me-home {
  padding-top: 33px;
}

.chat-screen {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.contacts-block {
  float: left;
  width: 35%;
  padding: 3px;
  
  border-bottom: 1px solid #ffffff;
  border-top:1px solid #ffffff;
  
  max-width: 320px;
  max-height: 600px;

  overflow-y: scroll;

}



.contact-preview {
  float: left;
  width: 35%;
  padding: 0px;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  border-top:1px solid #d62c2c;
  clear:both;
  min-width: 275px;
  

}
.contact-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.contact-preview:active {
  background-color: #dfdddd;
}
.contact-preview h2 {
  font-size: 25px;
  color: #f1356d;
  margin-right: 30%;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-preview h4 {
  float: left;
  font-size: 16px;
  color: #000000;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 50px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-preview a{
  text-decoration: none;
}

.contact-preview img{
  position:relative;
  width: 15%;
  height: 80%;
  border-radius: 8px;
  top:-60px
}


.contact-preview-time {
  float: right;
  font-size: 9px;
  color: #5f5f5f;
  margin-bottom: 3px;
  margin-top: -68px;
  position: relative;
  width: 12%;
  text-align: right;
  margin-right: 17px;
  min-width: 260px;
}

.add-friend {
  float: right;
  width: 60%;
  padding: 10px;
  height: 600px;
  border-bottom: 1px solid #d62c2c;
  border-top:1px solid #d62c2c;

  min-width: 100px;
}

.message-box {
  float: right;
  width: 60%;
  padding: 10px;
  height: 600px;
  border-bottom: 1px solid #ffffff;
  border-top:1px solid #d62c2c;
  
  min-width: 100px;
}

.message-box-contact {
  height: 60px;
  border-bottom: 1px solid #d62c2c;
}


.message-box-contact img{
  position:relative;
  width: 12%;
  height: 80%;
  border-radius: 8px;
  top:-45px
}

.message-box-contact h2{
  font-size: 35px;
  color: #f1356d;
  text-align: left;
  margin-left: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-box textarea {
  resize: none;
  width: 70%;
  height: 90px;
  padding: 10px 10px;
  margin-top: 460px;
  border: 1px solid rgb(199, 43, 43);
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
 
}

.message-box button {
  background: #f1356d;
  color: rgb(255, 255, 255);
  border: 0;
  padding: 16px;
  border-radius: 8px;
  margin-block-end: 30px;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  width: 30%;
  top: -90px;
  left: 72%;
}
.message-box button:active{
  background-color: #810528;
}

.message-box-conversation {
  width: 100%;
  height: 70%;
  padding: 3px;
  
  border-bottom: 1px solid #f1356d;
 
  
  scroll-snap-type: y proximity;
  
  position: relative;
  bottom: 115%;
  left: 0%;

  overflow-y: scroll;
}

.message {
  padding: 8px;
  border-radius: 8px;
  margin: 0px;
  clear: both;
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 700px;
}

.message.sent {
  /* background: rgb(173, 230, 120); */
  border: 1px solid rgb(173, 230, 120);
  float: right;
}

.message.received {
  border: 1px solid cyan;
  float: left;
}

.message.admin {
  text-align: center;
  border: 1px solid #f1356d;
  float: middle;
}



.message.admin-time {
  font-size: 9px;
  color: #5f5f5f;
  text-align: right;
  float: right;
  position: relative;
  top: -6px;
}

.message.sent-time {
  font-size: 9px;
  color: #5f5f5f;
  text-align: right;
  float: right;
  position: relative;
  top: -6px;
}
.message.received-time {
  font-size: 9px;
  color: #5f5f5f;
  text-align: left;
  position: relative;
  top: -8px;
}



.disappear {
  font-size: 0px;
  color: #ffffff;
}

.add-friend {
  float: left;
  width: 35%;
  padding: 0px;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  border-top:1px solid #d62c2c;
  clear:both;
  min-width: 275px;
  

}
.add-friend:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.add-friend:active {
  background-color: #dfdddd;
}
.add-friend h2 {
  font-size: 24px;
  color: #cb35f1;
  margin-right: 10%;
  margin-bottom: 8px;
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup {
  position: absolute;
  z-index: 100;
  width: 25%;
  padding: 0px;
  max-width: 225px;
  top:200px;
  
  border-bottom: 1px solid #ffffff;
  border-top:1px solid #ffffff;

}

.popup-inner{
  position: absolute;
  padding:32px;
  width: 100%;
  height: 560px;
  border-radius: 8px;
  top: -70px;
  overflow-x: scroll;
  
  background-color: #5f5f5f;
}

.popup-inner.close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.popup-inner .input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.popup-inner button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-inner button:active {
  background: #3577f1;
}


.contact-search-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.contact-search-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.contact-search-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.contact-search-preview h4 {
  color: white;
}
.contact-search-preview a{
  text-decoration: none;
}

.contact-search-preview img{
  position:relative;
  width: 30%;
  height: 80%;
  border-radius: 8px;
  top:-20px;
  left: 80px;
  align-items: right;
}

.upload button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  float:right;
  position: relative;
  width: 8%;
  padding: 8px;
  max-width: 100px;
  margin-left: 3px;
  margin-top: 10px;
 left: 25px;
 top: -120px;
}

.upload-popup {
  position: absolute;
  height: 0px;
  padding: 200px;
  z-index: 100;
  padding: 130px;
  width: 480px;
  border-radius: 8px;
  top:650px;
  background-color: #a8a4a4;
    width:32%;
  min-width: 100px;
}

.upload-popup-inner{
  float: left;
}

.record {
  position: absolute;
  height: 0px;
  padding: 200px;
  z-index: 100;
  padding: 130px;
  width: 480px;
  border-radius: 8px;
  top:650px;
  background-color: #a8a4a4;
    width:32%;
  min-width: 100px;
}

.record-inner{
  float: left;
}

.upload-popup-inner.close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.upload-popup-inner .input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-popup-inner button {
  
  background: #f1356d;
  color: #fff;
  border: 0;
  top:5px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}